# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.pdb

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.*

# Docker
*.pid
*.seed
*.pid.lock

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Tesseract data (if generated)
*.traineddata

# OS files
.DS_Store